<footer class="footer-7 text-center-xs bg--dark  ">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <span class="type--fine-print">&copy;
                    <span class="update-year"></span> SkyRhi All Rights Reserved</span>
            </div>
            <div class="col-sm-6 text-right text-center-xs">
                <ul class="social-list list-inline">
                   <!-- <li>
                        <a href="#">
                            <i class="socicon socicon-google icon icon--xs"><!--</i>
                        </a>
                    </li>-->
                    <li>
                        <a href="https://twitter.com/skyrhi">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/skyrhi">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/skyrhi/">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>
