<div class="nav-container ">
    <div class="bar bar--sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-2">
                    <a href="/">
                       <img alt="Logo" src="img/skylogo.png"/>
                       <img class="logo logo-light" alt="logo" src="img/logo-light.png" />
                    </a>
                </div>
                <div class="col-xs-9 col-sm-10 text-right">
                    <a href="#" class="hamburger-toggle" data-toggle-class="#menu2;hidden-xs hidden-sm">
                       <i class="icon icon--sm stack-interface stack-menu"></i>
                    </a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </div>
    <!--end bar-->
    <nav id="menu2" class="bar bar-2 hidden-xs bar--absolute bar--transparent bg--dark">
        <div class="container">
            <div class="row">
                <div class="col-md-2 text-center text-left-sm hidden-xs col-md-push-5">
                    <div class="bar__module">
                        <a href="index.html">
                            <img class="logo logo-dark" alt="logo" src="img/logo-dark.png" />
                            <img class="logo logo-light" alt="logo" src="img/skylogowhite.png" style="min-height:100px;" />
                        </a>
                    </div>
                    <!--end module-->
                </div>
                <div class="col-md-5 col-md-pull-2">
                    <div class="bar__module">
                        <ul class="menu-horizontal text-left">
                            <li class="dropdown">
                               <a href="/"><span class="dropdown__trigger">Home</span></a>

                            </li>
                            <li class="dropdown">
                                <span class="dropdown__trigger">Pages</span>
                                <div class="dropdown__container">
                                    <div class="container">
                                        <div class="row">
                                            <div class="dropdown__content col-md-2 col-sm-4">
                                                <ul class="menu-vertical">
                                                  <!-- <li>
                                                      <a href="page-about-me.html">
                                                          About Me
                                                      </a>
                                                  </li> -->
                                                  <li>
                                                      <a href="/music">
                                                          Music
                                                      </a>
                                                  </li>
                                                  <li>
                                                      <a href="/about">
                                                          About Me
                                                      </a>
                                                  </li>
                                                </ul>
                                            </div>
                                            <!--end dropdown content-->
                                        </div>
                                        <!--end row-->
                                    </div>
                                </div>
                                <!--end dropdown container-->
                            </li>
                        </ul>
                    </div>
                    <!--end module-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <!--end bar-->
</div>
