<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SkyRhi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class=" ">
        <a id="start"></a>
        {{>navbar}}
        <div class="main-container">
            <section class="cover height-200 imagebg" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="background" src="img/about.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <h1>
                                Sky Stahlmann
                            </h1>
                            <ul class="social-list list-inline list--hover">
                              <!-- <li>
                                   <a href="#">
                                       <i class="socicon socicon-google icon icon--xs"><!--</i>
                                   </a>
                               </li>-->
                               <li>
                                   <a href="https://twitter.com/skyrhi">
                                       <i class="socicon socicon-twitter icon icon--xs"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="https://www.facebook.com/skyrhi">
                                       <i class="socicon socicon-facebook icon icon--xs"></i>
                                   </a>
                               </li>
                               <li>
                                   <a href="https://www.instagram.com/skyrhi/">
                                       <i class="socicon socicon-instagram icon icon--xs"></i>
                                   </a>
                               </li>
                            </ul>
                            <p class="lead">
                              My story has no definite beginning or ending. Who I am is not yet a full picture as I believe there is a long road ahead of me to shape me further.<br>
                            <p class="lead">
                              I started pursuing music full time because, ultimately, it's where I know I belong. Music is the only thing in my life that I could never give up on or say no to. The stage has been my home for as long as I can remember. I grew up as a “petite rat de l’opera” a term given to the little children dancing or singing on the stages of the Opera with the adults singers. I truly came to life as a performer and a person in my years performing with the Opera. It was the first place in my life where I felt like I belonged and where I felt like I was valuable. Being part of an artistic performance to convey a meaningful message gave me a reason to wake up in the morning.
                              However, I was what you could call “genre curious” and began diving into the world of jazz, musical theatre, rock and pop. After a few years, I moved away from the opera world and into the world of contemporary music beginning my new professional journey at Berklee College of Music (Class of 2021)
                              Fast forward to today, I am currently working on my first EP in a style I like to call Popera, a mesh of my classical influences with the pop genre. This is a gap in genre’s I am determined to bridge as I believe both genres are so beautiful and meaningful to me.<br>
                            <p class="lead">  ​
                              Through my art, my pursuit of honest vulnerability and something bigger than me I hope to help other's find answers to themselves and their purpose in life. I believe that if I can make you truly feel something while listening to my music, I have succeeded in what I have set out to do.<br>
                            <p class="lead">  ​
                              My journey has just begun, ask yourself where you want to see yourself on that journey.
                            </p>
                            <br>

                        </div>
                    </div>
                    <!--end of row-->
                    <div class="col-sm-3 mb--1">
                            <div class="modal-instance block">
                                <a class="btn modal-trigger" href="#">
                                    <span class="btn__text">
                                        Contact Me
                                    </span>
                                </a>
                                <div class="modal-container">
                                    <div class="modal-content section-modal">
                                        <section class="unpad ">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-offset-3 col-sm-offset-3 col-xs-12">
                                                        <div class="feature feature-1">
                                                            <div class="feature__body boxed boxed--lg boxed--border text-center">
                                                                <div class="modal-close modal-close-cross"></div>
                                                                <div class="text-block">
                                                                    <h3>Contact Sky</h3>

                                                                </div>
                                                                <form id="mailform">
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <input type="text" id="inputName" placeholder="Name" />
                                                                        </div>
                                                                        <div class="col-sm-12">
                                                                            <input type="text" id="inputEmail" placeholder="Email" />
                                                                        </div>
                                                                        <div class="col-sm-12">
                                                                            <textarea class="validate-required" name="mmessageBody" id="messageBody" rows="4" placeholder="Message"></textarea>
                                                                        </div>
                                                                        <div class="col-sm-12">
                                                                            <button class="btn btn--primary type--uppercase" type="submit">Contact Sky</button>
                                                                        </div>
                                                                    </div>
                                                                    <!--end of row-->
                                                                </form>

                                                            </div>
                                                        </div>
                                                        <!--end feature-->
                                                    </div>
                                                </div>
                                                <!--end of row-->
                                            </div>
                                            <!--end of container-->
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <!--end of modal instance-->
                </div>
                <!--end of container-->
            </section>
            {{>footer}}

        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/flickity.min.js"></script>
        <script src="/js/easypiechart.min.js"></script>
        <script src="/js/parallax.js"></script>
        <script src="/js/typed.min.js"></script>
        <script src="/js/datepicker.js"></script>
        <script src="/js/isotope.min.js"></script>
        <script src="/js/ytplayer.min.js"></script>
        <script src="/js/lightbox.min.js"></script>
        <script src="/js/granim.min.js"></script>
        <script src="/js/jquery.steps.min.js"></script>
        <script src="/js/countdown.min.js"></script>
        <script src="/js/twitterfetcher.min.js"></script>
        <script src="/js/spectragram.min.js"></script>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/scripts.js"></script>
    </body>
</html>
<script>
  $("#mailform").submit(function(e){
    e.preventDefault();
    console.log("form submit trapped");
    name = $("#inputName").val();
    email = $("#inputEmail").val();
    message = $("#messageBody").val();
    console.log("name-->>" + name + " email-->>" + email + " message-->>" + message);
    $.ajax({
           url : 'api/public/mail',
           type : 'POST',
           dataType: 'json',
           type: "POST",
           data:{
             name:name,
             email:email,
             message:message
           },
           success: function (data) {
             console.log(data);

           },
           error: function (data) {
             console.log(data);
             console.log("failed");
           }
         });
  });
</script>
